		* {
			margin:0;
			padding:0;
		}

		#playarea1,#playarea2 {
			border:0.5px solid white;
			box-sizing:border-box;
		}

		#playarea {
			z-index:0;
			width:100%;
			height:100%; 
			background-color:#7CC8F7; 
			position:fixed; 
			box-sizing:border-box;
		}

		#playarea1 {
			height:100%; 
			width:50%; 
			box-sizing:border-box; 
			float:left; 
			position:fixed;
		}

		#playarea2 {
			height:100%;
			width:50%; 
			box-sizing:border-box; 
			float:right;
		}

		#platearea1 {
			width:20px; 
			height:100%; 
			float:left;
		}

		#plate1 {
			width:20px; 
			height:100px; 
			position:fixed; 
			background-color:#2B2BAB; 
			top:50%;
		}

		#scorep1 {
			color:black;
			position:fixed;
			background-color:rgba(255,255,255,0.4);
			left:25%;
			padding:10px;
			border-radius:5px;
			font-size:20px;
			font-weight:bold;
		}

		#rounddisplay {
			color:black;
			left:50%;
			position:fixed;
			background-color:rgba(255,255,255,0.4);
			border-radius:5px;
			font-size:25px;
			font-weight:bold;
			padding:8px 32px;
		}

		#platearea2 {
			width:20px; 
			height:100%; 
			float:right;
		}

		#plate2 {
			width:20px; 
			height:100px; 
			position:fixed; 
			background-color:#2B2BAB; 
			top:50%;
		}

		#scorep2 {
			color:black;
			position:fixed;
			background-color:rgba(255,255,255,0.4);
			left:75%;
			padding:10px;
			border-radius:5px;
			font-size:20px;
			font-weight:bold;
		}

		#ballframe {
			border:0.5px solid white; 
			top:50%; 
			left:50%; 
			border-radius:50%; 
			height:50px; 
			width:50px; 
			position:fixed; 
			box-sizing: border-box; 
			background-color:#7CC8F7;
		}

		#ball {
			background-color:white;
			top:50%; 
			left:50%; 
			border-radius:50%; 
			height:50px; 
			width:50px; 
			position:fixed;
		}

		#gamestatus {
			color:white;
			visibility:hidden;
			top:50%;
			left:50%;
			position:fixed;
			background-color:blue;
			border-radius:5px;
			font-size:30px;
			font-weight:bold;
			padding:16px 64px;
			text-align: center;
		}